# Server
PORT=5001

# Database (Azure PostgreSQL Flexible Server)
DB_HOST=
DB_PORT=5432
DB_NAME=booking_service_db
DB_USER=
DB_PASSWORD=
DB_SSL=true

# Other Microservices
EVENT_SERVICE_BASE_URL=http://localhost:5001
USER_SERVICE_BASE_URL=http://localhost:5000

# Azure Service Bus
SERVICE_BUS_CONNECTION_STRING=
PAYMENT_REQUEST_QUEUE_NAME=booking-payment-request-queue
PAYMENT_RESULT_QUEUE_NAME=payment-result-queue
BOOKING_CONFIRMED_QUEUE_NAME=booking-confirmed-queue

# Booking Settings
BOOKING_EXPIRY_MINUTES=10
